@import "tailwindcss";
@import "@fontsource/jetbrains-mono";

@font-face {
    font-display: swap;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Inter-Reg.ttf') format('truetype');
}

:root {
    --font-monospace-code: "JetBrains Mono", monospace;
    --color-accent: "#FB9866";

    user-select: none;
    font-family: Inter, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

svg * {
    vector-effect: non-scaling-stroke;
}

body {
    background-color: var(--color-zinc-900);
}

.hscroll::-webkit-scrollbar {
    display: none;
}

.hscroll {
    scrollbar-width: none;
}

.scrollbar {
    /* Webkit browsers (Chrome, Safari, Edge) */
    scrollbar-width: thin;
    scrollbar-color: #3f3f46 transparent;
}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f46;
    border-radius: 3px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #52525b;
}

.scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}